* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
}

.box {
  opacity: 0;
  transform: translateY(20px);
  animation: rise 1s ease forwards;
}

@keyframes rise {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

button {
  display: flex;
  background: royalblue;
  color: #000000;
  border-radius: 8px;
  border: none;
}

body {
  color: #000000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}