*::before
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #515076;
  margin: 0;
  padding-top: 160px;
  background-image: url("assets/images/dandelions-background.png");
  background-size: auto;
  background-repeat: no-repeat;
}